* {
  margin: 0;
  box-sizing: border-box;
  color: #192F60;

}

.navbar {
  background-color: #ce0505;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}
.navbar-brand {
  align-items: center;
  text-align: center;
  font-weight: bolder;
  color: #ce0505;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 35px;
}
.navbar-brand:hover{
  color: #ce0505;
  cursor: pointer;
}
.login-btn {
  color: white;
  font-size: 18px;
}
.login-btn:hover {
  color: white;
}
.sign-up-btn {
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 18px;
  margin-left: 10px;
}
.sign-up-btn:hover {
  color: #eb2929;
  background-color: white;
}
.main-row{
  margin-bottom: 40px;
}
.filter-sort{
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
}
.form-check-input:checked {
  background-color: #ce0505;
  border-color: #ce0505;
}
.results{
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    margin-bottom: 60px;
    

}
.apply-btn{
  background-color: #ce0505;
  color: aliceblue;
  width: 100%;
}

.foodimg{
  height: 120px;
  width: 140px;
  border-radius: 20px;
}

.row ul li{
  margin: 10px;
}
.row ul li a{
  color: #192F60;
  border: solid 2px rgba(128, 128, 128, 0.416);
  border-radius: 8px;
}

.active > .page-link, .page-link.active {
  background-color: grey;
  border: solid 2px rgba(128, 128, 128, 0.416);
}


@media only screen and (max-width: 372px) {
  .login-btn {
    font-size: 14px;
  }
  .sign-up-btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .results {
    margin: 20px 0;
  }
  
}