html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header-img {
    position: relative;
    width: 100vw;
    height: 480px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 120vw;
    height: 60px;
}

.nav-menu {
    width: 60vw;
    height: 60px;
    margin-top: 15px;
    /* position: fixed; */
}

.navigation-link-p {
    border: solid 0px white;
    transition: border-bottom .1s ease;
    cursor: pointer;
}

.navigation-link-p:hover {
    border-bottom: 3px solid white;
}
.navigation-link-btn{
    height: 36px;
    width: 181px;
    font-size: 16px;
    background: none;
    font-weight: bolder;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: border-color .1s ease;
    transition: color .1s ease;

}
.navigation-link-btn:hover{
    color: rgb(85, 59, 59);
border: none;
    background-color: wheat;
}
.logo-bottom {
    display: block;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 36px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-flex {
    /* margin-top: 100px; */
}
.logo{
    width: 147px;
height: 147px;
color: #EB2929;
background-color: white;
font-size: 85px;
font-weight: 700;
text-align: center;
border-radius: 50%;
margin: auto;
}
.search-box {
    width: 245px;
    height: 60px;
    border: none;
    padding-left: 20px;
    margin: auto 20px;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}
.search-box2 {
    width: 477px;
    height: 60px;
    border: none;
    padding-left: 20px;
    margin: auto 20px;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}

#second-section {
    margin: 50px 0 50px 0;
}

.card {
    width: 360px;
    height: 160px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 10px white;
    overflow: hidden;
    transition: box-shadow .2s;
    margin: 0 10px 10px 0;
}

.card:hover {
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}

