/* Hide scrollbar for Chrome, Safari and Opera */
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
}

section {
  border-top: 8px solid #222;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #000000;
}

p,
h1,
h2,
h3,
h5 {
  color: #fff;
}
.navbar {
  position: absolute;
  width: 100%;
}

.navbar-brand {
  color: #e50914 !important;
  font-size: 52px;
  font-weight: bold;
  width: 190px;
}
.nav-logo {
  width: 100%;
}

.bg-img {
  background-image: url(images/back.jpg);
  height: 700px;
  width: 100%;
}

.layer {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form-select-menu {
  height: 36.188px;
  width: 94px;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
}

.form-select-menu > option {
  background-color: grey;
}
.form-select-menu:focus-visible {
  outline: none;
}
.top-sign-in {
  height: 36.188px;
  width: 94px;
  overflow: hidden;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 400;
  background-color: #e50914;
}
.top-sign-in:hover {
  color: #000000;
  font-weight: 600;
  background-color: #e50914;
}
.headerTitleOne {
  font-size: 70px;
  overflow: hidden;
}
.headerTitleTwo {
  font-size: 40px;
  overflow: hidden;
}
.headerTitleThree {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}
.main-search input {
  height: 55px;
}
.input-group-text {
  font-size: 24px;
  background-color: #e50914;
  color: #fff;
  border: 0px;
  cursor: pointer;
}
.sec-h2 {
  font-size: 50px;
  overflow: hidden;
}

.sec-p {
  font-size: 26px;
}
.plusIcon {
  float: right;
}
.faq-h2 {
  font-size: 50px;
  font-weight: 500;
  overflow: hidden;
}
.faq .btn {
  width: 100%;
  height: 72px;
  background-color: #303030;
  font-size: 30px;
  padding-top: 12px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 5px;
  border-radius: 0px;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}
.multi-collapse.show {
  margin-bottom: 10px;
}

.faq .card {
  background-color: #303030;
  font-size: 26px;
  color: #fff;
  padding-left: 30px;
}
.bottomSearchPara {
  font-size: 18px;
  margin-top: 20px;
}

footer {
  background-color: #000000;
  padding-top: 40px;
  border-top: 8px solid #222;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  color: #757575;
  margin-bottom: 15px;
  font-size: 16px;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #757575;
}

footer a:hover {
  color: #757575;
  text-decoration: underline;
}
.footerDropdown {
  margin-top: 20px;
}

.form-select-menu2 {
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  color: white;
}

.form-select-menu2 > option {
  background-color: grey;
}
.footerCredits {
  color: #757575;
  font-size: 13px;
  margin-left: 30px;
}
@media (min-width: 1200px) {
  .main-search .input-group {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 860px) {
  .headerTitleOne {
    font-size: 60px;
    margin-top: 100px;
  }
  .headerTitleTwo {
    font-size: 40px;
  }
  .headerTitleThree {
    font-size: 20px;
  }
  .form-select-menu {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .layer h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .reverse {
    flex-direction: column-reverse;
  }
  .textCenter768 {
    text-align: center;
  }
}

@media (max-width: 612px) {
  .layer h1 {
    font-size: 50px;
  }
  .layer h5 {
    font-size: 20px;
  }
  section h2 {
    font-size: 40px;
  }
  .main-search input,
  .input-group-text {
    width: 100% !important;
    border-radius: 0px;
    border: 0px;
  }
  .input-group-text {
    margin-top: 5px;
    justify-content: center;
  }
  .faq .btn {
    font-size: 20px;
    height: auto;
    padding-top: 5px;
    padding-left: 10px;
  }
  .faq .card {
    font-size: 16px;
    padding-left: 10px;
  }
  section p {
    font-size: 18px;
  }
  .plusIcon {
    height: 28px;
    height: 28px;
  }
}
@media (max-width: 538px) {
  .navbar-brand {
    width: 140px;
  }
}

@media (max-width: 515px) {
  .layer h1 {
    font-size: 40px;
  }
  .layer h5 {
    font-size: 16px;
  }
  .bottom-search p {
    padding-left: 10px;
    padding-right: 10px;
  }
  a.navbar-brand {
    font-size: 32px;
  }
  .form-select-menu {
    height: 40px;
  }
  .top-sign-in {
    margin-top: 3px;
  }
  .px-5 {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .layer h3 {
    font-size: 20px;
  }
  .layer h5 {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .layer h1 {
    font-size: 34px;
  }
  .navbar-brand {
    width: 100px;
  }
}

@media (max-width: 372px) {
  .form-select-menu {
    width: 74px;
    background: transparent;
    font-size: 14px !important;
  }

  .top-sign-in {
    width: 74px;
    font-size: 14px;
  }
}

@media (max-width: 332px) {
  .navbar-brand {
    width: 90px;
  }
  .form-select-menu {
    height: 34px;
    width: 62px;
    background: transparent;
    font-size: 11px !important;
  }

  .top-sign-in {
    height: 30px;
    width: 62px;
    font-size: 11px;
  }
  .mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 0rem !important;
  }
}
@media (max-width: 318px) {
  .footerContainer {
    margin-left: -20px;
  }
}
