*{
    box-sizing: border-box;
}
 body {
    padding: 0;
    margin: 0;
    font-family: "noto sans";
 }
 
 img {
    max-width: 100%;
 }
 
 section {
    border-top: 8px solid #222;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #000000;
 }
 
 p, h1, h2, h3, h5 {
    color: #fff;
 }

 .navbar {
    position: absolute;
    width: 100%;
 }

 .navbar-brand {
    color: #e50914 !important;
    font-size: 52px;
    font-weight: bold;
 }
 
 .bg-img {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/935156fb-9579-4fc2-ad94-70680402b8ef/3689d1b9-def2-446b-bc6c-ba159a4469f8/IN-en-20230109-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 700px;
 }
 
 .layer {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
 }
 .form-select-menu {
   height: 42px;
   width: 110px;
   background:transparent;
   padding: 9px;
}
.form-select-menu > option{
   background-color: grey;
}
 .top-sign-in {
   height: 42px;
   width: 120px;
    padding-top: 5px;
    font-size: 18px;
    background-color: #e50914;
 }
 .top-sign-in:hover {
  color: #000000;
  font-weight: 600;
    background-color: #e50914;
 }
 .headerTitleOne{
    font-size: 72px;
   }
   .headerTitleTwo{
      font-size: 42px;
   }
   .headerTitleThree{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;

 }
 .main-search input {
   height: 60px;
}
 .input-group-text {
    font-size: 24px;
    background-color: #e50914;
    color: #fff;
    border: 0px;
    cursor: pointer;
 }
 
 .btn-check:focus+.btn,
 .btn:focus {
    box-shadow: none;
 }
 
 
 
 .faq .btn {
    width: 100%;
    height: 72px;
    background-color: #303030;
    font-size: 30px;
    padding-top: 12px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 0px;
 }
 
 .multi-collapse.show {
    margin-bottom: 10px;
 }
 
 .faq .card {
    background-color: #303030;
    font-size: 26px;
    color: #fff;
    padding-left: 30px;
 }
 
 footer {
    background-color: #000000;
    padding-top: 40px;
    border-top: 8px solid #222;
 }
 
 footer ul {
    list-style-type: none;
 }
 
 footer ul li {
    color: #757575;
    margin-bottom: 15px;
 }
 
 footer a {
    text-decoration: none;
    color: #757575;
 }
 
 footer a:hover {
    color: #757575;
    text-decoration: underline;
 }
 
 @media(min-width: 1200px) {
    .main-search .input-group {
       width: 60%;
       margin: 0 auto;
    }
 }
 
 @media(max-width: 800px) {
    .layer h1 {
       font-size: 60px;
    }
 }
 
 @media(max-width: 768px) {
    .reverse {
       flex-direction: column-reverse;
    }
 }
 
 @media(max-width: 612px) {
    .layer h1 {
       font-size: 50px;
    }
    .layer h5 {
       font-size: 20px;
    }
    section h2 {
       font-size: 40px;
    }
    .main-search input,
    .input-group-text {
       width: 100% !important;
       border-radius: 0px;
       border: 0px;
    }
    .input-group-text {
       margin-top: 5px;
    }
    .faq .btn {
       font-size: 20px;
       height: auto;
       padding-top: 5px;
       padding-left: 10px;
    }
    .faq .card {
       font-size: 16px;
       padding-left: 10px;
    }
    section p {
       font-size: 18px;
    }
 }
 
 @media(max-width: 515px) {
    .layer h1 {
       font-size: 40px;
    }
    .layer h5 {
       font-size: 16px;
    }
    .bottom-search p {
       padding-left: 10px;
       padding-right: 10px;
    }
    a.navbar-brand {
       font-size: 32px;
    }
    .form-select-menu {
       height: 40px;
    }
    .top-sign-in {
       margin-top: 3px;
    }
    .px-5 {
       padding-right: 10px!important;
       padding-left: 10px!important;
    }
    .layer h3 {
       font-size: 20px;
    }
    .layer h5 {
       font-size: 14px;
    }
 }
 
 @media(max-width:425px) {
    .layer h1 {
       font-size: 34px;
    }
 }


















 /* * {
  box-sizing: border-box;
  font-family: "Segoe UI";
}
.bg-img {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 30%,
      transparent 30%,
      rgba(0, 0, 0, 0.8) 30%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/935156fb-9579-4fc2-ad94-70680402b8ef/3689d1b9-def2-446b-bc6c-ba159a4469f8/IN-en-20230109-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  width: 100%;
  height: 685px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 8px grey;
}
.container-fluid {
  padding: 0px 30px;
}
.text-danger {
  color: #e50914 !important;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
}
.lang-dropdown {
  background: none;
  color: white;
  width: 84px;
  margin-right: 20px;
}

.lang-dropdown:hover {
  border: solid 1px;
  border-radius: 5px;
}
.lang-dropdown > option {
  color: white;
  background-color: grey;
}
.btn-danger {
  color: white;
  background-color: #e50914;
  font-weight: 600;
  font-size: 17px !important;
  border-radius: 3px !important;
}
.btn-danger:hover {
  color: white;
  background-color: #e50914;
}
.btn1 {
  width: 90px;
}
.lang-dropdown,
.btn-danger {
  height: 40px;
  font-size: 14px;
}


main {
  width: 50%;
  color: white;
  margin: 140px auto;
}
main > h1 {
  font-size: 50px;
  font-weight: 550;
}
main > h3 {
  margin-top: 12px;
  font-weight: 600;
}
main > p {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 400;
}
main > div > input {
  height: 60px;
  color: #8c8c9e !important;
  border-radius: 2px !important;
}

main > div > .btn2 {
  height: 60px !important;
  width: 220px !important;
  font-size: 25px !important;
  font-weight: 600 !important;
  border: none;
  border-radius: 2px !important;
}
main > div > .btn2 span {
  font-size: 23px;
}
.content1, .content2, .content3, .content4{
    background-color: black;
    border-bottom: solid 8px #222222;
}
.container{
    margin: auto;
    height: 450px;
}
.content-img{
    height: 400px;
}
.container > div > h1{
    color: white;
    margin-top: 120px;
    font-size: 50px;
    font-weight: 700;
    
}
.container > div > p{
    color: white;
    margin-top: 20px;
    font-size: 24px;
    
}
.content2 > .container > div > .content-img{
    margin-left: -100px;
}
.content3 > .container > div > .content-img{
    margin-top: 25px;
}
.content4 > .container > div > .content-img{
    margin-top: 35px;
} */

